@import "./common/common";
@import "./common/header";
@import "./common/footer";
@import "./common/banner";
@import "./common/sectionAbout";
@import "./common/successCase";
@import "./common/linkNews";




//服务
.section-service{
  padding-top: 100px;
  padding-bottom: 70px;
  .logo-img{
    margin-bottom: 20px;
    img{
      border:1px dashed #999;
    }
  }
  .logo-img:last-child{
    margin-right: 0;
  }
}


.section-info{
  background: url('../images/index/case-bg.png') center center/cover no-repeat;
  .card-top{
    margin-top: 100px;
  }

}

//申请使用
.section-test{
  color: #fff;
  padding: 112px 0;
  background: url("../images/index/test-bg.png")  center center/cover no-repeat;
  .title{
    line-height: 5rem;
    padding: 0;
  }
  p{
    font-size: 2.4rem;
    line-height: 2.75rem;
    margin: 1.33rem 0 3.2rem 0;
  }
}

