
.navbar-productMain{
  width: 100%;
  height: auto;
  overflow: hidden;
  //margin-top: 98px;
}
.navbar-productMain ul{
  font-size: 0;
  //background: #f00;
}
.navbar-productMain ul li{
  display: inline-block;
  margin-right: 60px;
  .nav-link{
    display: block;
    width: 64px;
    font-size: 1.6rem;
    line-height: 58px;
    color: #464C5B;
    padding: 0;
    margin: 0 auto;
    border-bottom: 2px solid rgba(0, 109, 255, 0);
  }
}
.navbar-productMain ul li:last-child{
  margin-right: 0;
}
.navbar-productMain .active{
  .nav-link{
    color: #006DFF;
    border-bottom: 2px solid #006DFF;
  }
}
.navbar-iphone ul{
  display: table;
  width: 100%;
}
.navbar-iphone ul li{
  display: table-cell;
  width: 33.3%;
  margin: 0;
  text-align: center;
}
/*产品简介 功能介绍 价格*/
.productContent{
  width: 100%;
  height: auto;
  overflow: hidden;
}
/*产品简介*/
.product-title-h1{
  font-size: 4.2rem;
  font-weight:500;
  color: #464C5B;
  line-height: 60px;
  text-align: center;
  margin: 130px 0;
}

.productInfoTxt h2{
  font-size: 2.8rem;
  font-weight:500;
  color: #464C5B;
  line-height: 40px;
}
.productInfoTxt p{
  font-size: 1.6rem;
  font-weight:400;
  color: #657180;
  line-height: 28px;
  margin: 10px 0 36px 0;
}

.productInfoBtn{
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  .btn{
    width: 120px;
    height: 48px;
    font-size: 1.6rem;
    padding-top: 9px;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
  }
  .btn-primary{
    margin-right: 30px;
  }
}
/*客户案例*/
.customerCaseCon{
  margin-top: 343px;
}