

//相关资讯
.link-news{
  //.img-wrapper{
  //  width: 26.66rem;
  //}
  padding-bottom: 60px;
  .row-pad{
    padding: 47px 0;
    background: #fff;
    border-bottom: 1px solid #E8EAEC;
    margin-bottom: 60px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow:0px 0px 30px 0px rgba(0,0,0,0.08);
  }
  .row-pad:hover{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  }
  .row-pad:last-child{
    border-bottom: 1px solid transparent;
  }
  .new-explain{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    h1{
      font-size: 2.8rem;
      line-height: 3.33rem;
      color: @fontColor;
      margin-bottom: 10px;
    }
    p{
      color: #657180;
      font-size: 1.6rem;
      line-height: 2.66rem;
    }
    a{
      color:#006DFF;
      font-size: 1.6rem;
      line-height: 2.33rem;
    }
  }
}